<h1>Luvies</h1>

<% @players.each do |player| %>
  <ul>
    <li><%=player.name%><br>
          <% if player.sex %>
          <%= player.sex %>
          <%end%>
          <% if player.birth_date %>,
          aged
          <%= "#{distance_of_time_in_words(Time.now, player.birth_date)}"%>
          <%end%>
          <br>
          <%unless player.movies.blank? %>
          Movies:
          <% player.movies.order('release_date DESC').each do |movie|%>
              <%=movie.name%>;
            <%end%>
            <%end%>
            <br>
           <%unless player.roles.blank? %>
           Roles:
          <% player.roles.each do |role|%>
              <%=role.name%>;
            <%end%>
            <%end%>

        <br>
        <%= link_to 'More Details', player %> |
        <%= link_to 'Edit', edit_player_path(player) %> |
        <%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
     </ul>
<% end %>


<br />

<%= link_to 'Add a New Luvie!', new_player_path %>
