<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @player.birth_date %>
</p>

<p>
  <b>Sex:</b>
  <%= @player.sex %>
</p>

<p>
  <b>Biography:</b>
  <%= @player.biography %>
</p>

<% unless @player.movies.blank? %>
<b>Filmography:</b>

  <ul>
      <% @player.movies_players.joins(:movie).order('movies.release_date DESC').each do |movies_player|%>

              <%=movies_player.movie.release_date%>:
              <%=movies_player.role.name%>,
              <%=movies_player.movie.name%>



              <br>

            <%end%>

  <%end%>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
