<h2>Movie-Luvie Combos!</h2>


<% @movies_players.each do |movies_player| %>
  <ul>
    <li><%=movies_player.player.name%> in
        <%=movies_player.movie.name%> as
        <%=movies_player.role.name%>
        <br>
        <%= link_to 'More Details', movies_player %> |
        <%= link_to 'Edit', edit_movies_player_path(movies_player) %> |
        <%= link_to 'Delete', movies_player, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
     </ul>
<% end %>


<br />

<%= link_to 'Make a New Combo!', new_movies_player_path %>
