<!DOCTYPE html>
<html>
<head>
  <title>Movies and Lovies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <h1>Movies and Luvies</h1>
    <div class="navbar navbar-inverse">
     <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to('Movies', movies_path) %></li>
          <li><%= link_to('Studios', studios_path) %></li>
          <li><%= link_to('Genres', genres_path) %></li>
          <li><%= link_to('Luvies', players_path) %></li>
          <li><%= link_to('Roles', roles_path) %></li>
          <li><%= link_to('Movie-Lovie Combos', movies_players_path) %>

        </ul>
      </div>
    </div>


<%= yield %>

</body>
</html>
